@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


/* Reset Css */
* {
    margin: 0;
    border:0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-size: cover;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: #016f32;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}